.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-5);
}

.wrap--narrow {
  max-width: var(--wrap-narrow);
}

.wrap--wide {
  max-width: var(--wrap-narrow);
}

.wrap--page {
  max-width: var(--wrap-page);
}

@media (min-width: 720px) {
  .wrap--wide {
    max-width: var(--wrap-wide);
    padding: 0 32px;
  }
  .wrap--page {
    padding: 0 32px;
  }
}
